:root {
  --body-bg: #fdebce;

  --header-bg: #201e1d;
  --header-text: #fbb1d9;

  --main-bg: ##fddcd2;
  --main-text: #201e1d;
  --main-title-bg: #fbb1d9;

  --card-bg: #cbf293;
  --card-text: #201e1d;
}
